html, body, #root {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}

.login_main {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.login_main .box {
  width: 800px;
  height: 600px;
  background-color: gainsboro;
}

.login_main h1 {
  font-size: 50px;
  text-align: center;
  margin: 30px;
}

